.wp-block-quote.is-style-gsmtc-verde{
    padding: 30px;
    border-left: solid 10px #FE77FE;
    margin-left: 0px;
    background: #23ab11;
}
.wp-block-quote.is-style-gsmtc-naranja{
    padding: 30px;
    border-left: solid 10px #FE77FE;
    margin-left: 0px;
    background: #e04c16
}
.wp-block-paragraph.is-style-gsmtc-rojo{
     background-color: #c7261e;
}
.wp-block-button.is-style-gsmtc-label10{
    box-sizing: border-box;
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}
.wp-block-button.is-style-gsmtc-explorer10{
    box-sizing: border-box;
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}
.wp-block-button.is-style-gsmtc-explorer05{
    box-sizing: border-box;
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}
.wp-block-button.is-style-gsmtc-explorer01{
    box-sizing: border-box;
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}
.wp-block-quote.is-style-gsmtc-explorer{
    padding: 30px;
    border-left: solid 10px #FE77FE;
    margin-left: 0px;
    background: #f7f7f7;
}
.wp-block-buttons.is-style-gsmtc-label0{
    box-sizing:border-box;
    padding: 5px;
    width: 100%;
}
.wp-block-nextpage.is-style-gsmtc-label0{
    box-sizing:border-box;
    padding: 5px;
    width: 100%;
}
